.section {
  background-color: rgb(247, 244, 221);
  color: rgb(162, 192, 219);
  width: 50%;
  margin: 0 auto;
  height: 100px;
}

.title {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 20px;
}

.block {
  background-color: rgb(240, 204, 240);
  height: 100px;
  width: 50%;
  margin: 20px auto;

}
